:root {
  --pad: 30px;
  --vh: 9px;
  --gap-xs: 0.3rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 3rem;

  font-family: 'NeueMontrealMono-Medium';
}

@font-face { 
  font-family: 'NeueMontrealMono-Medium'; 
  src: 
      url('/assets/font/PPNeueMontrealMono-Medium.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

/* ============ GENERAL SECTION ============  */
.is_selected {
  background-color: black;
}

.is_visible {
  display: inline;
}

.is_hidden {
  display: none;
}

/* ============ PAGE SECTION ============  */
#Page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


/* ============ FRAME SECTION ============  */
.frame {
  position: fixed;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
}

.frame__line {
  position: absolute;
  background-color: black;
}

.frame__line-left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame__line-right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame__line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.frame__line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}


/* ============ THEME SECTION ============  */
.theme {
  display: flex;
  gap: var(--gap-md);

  position: fixed;
  left: var(--pad);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);

  cursor: pointer;
}

.theme__btn {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.theme__btn-box {
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.theme__btn-text {
  text-transform: uppercase;
}


/* ============ HEADER SECTION ============  */
.header {
  position: fixed;
  left: calc(var(--pad) * 2);
  top: calc(var(--pad) * 2);
}

.header__title {
  font-size: 3rem;
}

.header__nav {
  margin-top: var(--gap-xl);

  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.header__nav-link-dot {
  font-family: 'Courier New';
  font-size: 1.2rem;
}

.header__nav-link-text {
  font-size: 0.9rem;
}


/* ============ CONTENT SECTION ============  */
.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content__inner {
  position: relative;
  min-height: 100%;
}

.page {
  width: 100%;
}

.page__home {
  position: absolute;
  right: calc(var(--pad) * 2);
  bottom: calc(var(--pad) * 2);
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-sm);
}

.page__home-text {
  line-height: 1.5;
}