:root {
  --pad: 30px;
  --vh: 9px;
  --gap-xs: 0.3rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 3rem;

  font-family: 'NeueMontrealMono-Medium';
}

@font-face { 
  font-family: 'NeueMontrealMono-Medium'; 
  src: 
      url('/assets/font/PPNeueMontrealMono-Medium.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'NeueMontrealMono-Book'; 
  src: 
      url('/assets/font/PPNeueMontrealMono-Book.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'NeueMontrealMono-Thin'; 
  src: 
      url('/assets/font/PPNeueMontrealMono-Thin.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}


/* ============ GENERAL SECTION ============  */
.is_selected {
  background-color: black;
}

.is_not_selected {
  background-color: black;
}

.is_visible {
  display: inline;
}

.is_hidden {
  display: none;
}

/* ============ PAGE SECTION ============  */
#Page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


/* ============ FRAME SECTION ============  */
.frame {
  position: fixed;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
}

.frame__line {
  position: absolute;
  background-color: black;
}

.frame__line-left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame__line-right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame__line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.frame__line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}


/* ============ THEME SECTION ============  */
.theme {
  display: flex;
  gap: var(--gap-md);

  position: fixed;
  left: var(--pad);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);

  z-index: 2;
}

.theme__btn {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);

  cursor: pointer;
}

.theme__btn-box {
  border: 1px solid black;
  height: 8px;
  width: 8px;
}

.theme__btn-text {
  text-transform: uppercase;
}


/* ============ HEADER SECTION ============  */
.header {
  position: fixed;
  left: calc(var(--pad) * 2);
  top: calc(var(--pad) * 2);
}

.header__title {
  font-family: 'NeueMontrealMono-Thin';
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
}

.header__subtitle {
  font-family: 'NeueMontrealMono-Book';
  margin-top: var(--gap-xs);
}

.header__nav {
  margin-top: var(--gap-xl);

  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.header__nav-link-dot {
  font-family: 'Courier New';
  font-size: 1.2rem;
}

.header__nav-link-text {
  font-size: 0.9rem;
  text-decoration: none;
}


/* ============ CONTENT SECTION ============  */
.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.content__inner {
  position: relative;
  min-height: 100%;
}

.page {
  width: 100%;
}

.page__section {
  position: absolute;
  right: calc(var(--pad) * 2);
  bottom: calc(var(--pad) * 2);
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-md);
}

.page__title {
  font-family: 'NeueMontrealMono-Book';
  margin-bottom: var(--gap-md);
}

/* ===== PAGE HOME =====  */
.page__home-text {
  line-height: 1.5;
}

/* ===== PAGE PROJECTS =====  */
.page__projects {
  display: flex;
  align-items: baseline;
  gap: var(--gap-md);
}

.page__projects:hover {
  opacity: 35%;
  transition-duration: 400ms;
}

.page__projects-detail {
  font-size: 0.8rem;
}

.page__projects-title {
  font-family: 'NeueMontrealMono-Thin';
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* ===== PAGE CONTACT =====  */
.contact__icon {
  margin-right: var(--gap-sm);
}

/* ===== PAGE FAQ =====  */
.faq__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.faq__container-question {
  display: flex;
  gap: var(--gap-md);

  font-size: 0.9rem;
}

.faq__container-answer {
  font-family: 'NeueMontrealMono-Book';
  font-size: 0.9rem;

  margin-bottom: var(--gap-md);
}


/* ============ DARK MODE SETTINGS ============  */
.is-dark #Page {
  background-color: black;
  color: white;
}

.is-dark .frame__line {
  background-color: white;
}

.is-dark .theme__btn-box {
  border: 1px solid white;
}

.is-dark .is_selected {
  background-color: white;
}
